<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.gearup">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.WRITE_CALENDAR" />
    <uses-permission android:name="android.permission.READ_CALENDAR" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS"/>
    <uses-permission android:name="android.permission.RECEIVE_SMS"/>
    <uses-permission android:name="android.permission.READ_SMS"/>
    <uses-permission android:name="android.permission.SEND_SMS"/>
    <uses-permission android:name="android.permission.ACCESS_MEDIA_LOCATION"/>
    <uses-permission android:name="com.google.android.gms.permission.AD_ID"/>
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" android:maxSdkVersion="28" />
    <uses-permission android:name="android.permission.READ_MEDIA_VIDEO" android:maxSdkVersion="33" />
    <uses-feature android:name="android.hardware.telephony" android:required="false"/>
    <uses-feature android:name="android.hardware.camera" android:required="true" />
    <uses-feature android:name="android.hardware.camera.autofocus" android:required="false" />



    <application
        android:enableOnBackInvokedCallback="true"
        android:name="com.example.gearup.FirebaseConfig"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:targetApi="31"
        android:usesCleartextTraffic="true">

        <activity
            android:name="com.example.gearup.splash.Splash"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".utilities.MapPickerActivity" />
        <service
            android:name=".uiactivities.manager.MyFirebaseMessagingService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <meta-data
            android:name="com.stripe.android.API_KEY"
            android:value="${STRIPE_PUBLISHABLE_KEY}" />
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="${GOOGLE_MAPS_API_KEY}" />
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <meta-data
            android:name="com.google.android.gms.security.provider.installer"
            android:value="com.google.android.gms"/>
        <meta-data
            android:name="com.google.android.play.integrity.verdictdservice.url"
            android:value="https://play.googleapis.com" />
        <meta-data
            android:name="firebase_app_check_provider"
            android:value="playIntegrity"/>
        <activity
            android:name="com.example.gearup.uiactivities.customer.CustomerDashboardActivity"
            android:exported="false" />
        <activity
            android:name="com.example.gearup.uiactivities.manager.ManagerDashboardActivity"
            android:exported="false"
            android:theme="@style/AppTheme"/>
        <activity
            android:name="com.example.gearup.uiactivities.admin.AdminDashboardActivity"
            android:exported="false" />
        <activity
            android:name="com.example.gearup.uiactivities.admin.AdminApprovalActivity"
            android:exported="false" />
        <activity
            android:name="com.example.gearup.uiactivities.mechanic.MechanicDashboardActivity"
            android:exported="false" />
        <activity
            android:name="com.example.gearup.utilities.RegisterActivity"
            android:exported="true" />
        <activity
            android:name=".uiactivities.admin.CarApprovalActivity"
            android:exported="false" />
        <activity
            android:name="com.example.gearup.utilities.LoginActivity"
            android:exported="false" />
        <activity
            android:name="com.example.gearup.MainActivity"
            android:exported="false" />
        <activity android:name=".uiactivities.admin.ManagerDetailsActivity" />

        <activity
            android:name=".uiactivities.admin.CarDetailsActivity"
            android:exported="false" />


    </application>

</manifest>